.arrivals {
  margin-bottom: 200px;
}
.section-title {
  padding: 0 rem(20px);
  padding-top: rem(100px);
  padding-bottom: rem(85px);
  font-family: $harmoniaSansProCyr;
  text-align: center;
  color: $gray-1;
}
.section-title__name {
  margin-bottom: rem(20px);
  font-size: rem(36px);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  font-family: $HarmoniaSansProCyr-Black;
  span {
    color: $accent;
    margin-right: rem(10px);
  }
}
.section-title__desc {
  color: $gray-3;
  font-size: rem(16px);
  line-height: rem(30px);
  font-weight: 400;
}
.arrivals__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.arrivals__item {
  max-width: 270px;
  flex-basis: 270px;
  margin-bottom: rem(20px);
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
