.arrivals {
  margin-bottom: rem(120px);
}
.arrivals__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.arrivals__item {
  max-width: 270px;
  max-height: 368px;
  width: 23%;
  margin-bottom: rem(30px);
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    .product__pre-wrap {
      opacity: 0;
      transition: .4s;
    }
    .product__next-wrap {;
      opacity: 1;
      transition: .4s;
    }
  }
}
.arrivals__more-load {
  display: block;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    background-color: #ff5912;
    border-radius: 50%;
    line-height: 1;
    &::before, &::after {
      content: "";
      position: absolute;
      left: -14px;
      display: block;
      width: 9px;
      height: 9px;
      background-color: #ff5912;
      border-radius: 50%;
    }
    &::after {
      left: auto;
      right: -14px;
    }
  }

}
@media screen and #{($laptop-point-widths-des)} {
  .arrivals {
    margin-bottom: rem(80px);
  }
  .arrivals__list {
    justify-content: space-around;
    margin-bottom: rem(50px);
  }
  .arrivals__item {
    width: 40%;
    max-width: none;
    &:nth-child(n+5) {
      display: none;
    }
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .arrivals {
    margin-bottom: rem(50px);
  }
  .arrivals__list {
    margin-bottom: rem(35px);
  }
}
@media screen and #{($phone-point-widths-des)} {
  .arrivals {
    margin-bottom: rem(30px);
  }
  .arrivals__list {
    margin-bottom: rem(20px);
  }
  .arrivals__item {
    width: 85%;
    &:nth-child(n+3) {
      display: none;
    }
  }
}
