.cards {
  margin-left: rem(300px); //25.5%
  transition: .4s ease;
}
.cards__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.cards__item {
  max-height: rem(368px);
  display: block;
  width: 31%;
  margin-bottom: rem(30px);
  transition: .4s ease;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    .product__pre-wrap {
      opacity: 0;
      transition: .4s;
    }
    .product__next-wrap {;
      opacity: 1;
      transition: .4s;
    }
  }
}
.cards__more-load  {
  display: block;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: rem(60px);
  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: rem(9px);
    height: rem(9px);
    background-color: #ff5912;
    border-radius: 50%;
    line-height: 1;
    &::before, &::after {
      content: "";
      position: absolute;
      left: -14px;
      display: block;
      width: 9px;
      height: 9px;
      background-color: #ff5912;
      border-radius: 50%;
    }
    &::after {
      left: auto;
      right: -14px;
    }
  }
}
@media screen and #{($laptop-point-widths-des)} {
  .cards {
    margin-left: rem(270px);
  }
  .cards__list {
    justify-content: space-around;
  }
  .cards__item {
    width: 45%;
    max-width: none;
    &:nth-child(n+7) {
      display: none;
    }
  }
  .cards__more-load {
    width: 92%;
    margin: 0 6%;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .cards {
    width: 70%;
    margin-left: 30%;
  }
  .cards__item {
    & .product__img img {
      max-height: 150px;
    }
    &:nth-child(n+5) {
      display: none;
    }
  }
  .cards__more-load {
    width: 91%;
    margin: 0 7%;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .cards {
    width: 100%;
    margin-left: auto;
  }
  .cards__list {
    display: block;
    width: 100%;
  }
  .cards__item {
    width: 100%;
    &:nth-child(n+4) {
      display: none;
    }
  }
  .cards__more-load {
    width: 100%;
    margin: auto;
  }
}
