.event-gallery {
  position: relative;
}
.event-gallery__promo {
  margin-bottom: rem(40px);
}
.event-gallery__title {
  color: $gray-3;
  margin-bottom: rem(30px);
  font-size: rem(30px);
  line-height: rem(30px);
  font-family: $montserrat-regular;
  text-transform: uppercase;
}
.event-gallery__text {
  margin-bottom: rem(30px);
  font-size: rem(17px);
  line-height: rem(25px);
  font-family: $ubuntu-regular;
  &--lg {
    margin-bottom: rem(24px);
    font-size: rem(22px);
    line-height: rem(30px);
  }
}
.event-gallery__link {
  display: block;
  color: $blue-1;
  font-size: rem(17px);
  line-height: rem(17px);
  font-family: $montserrat-bold;
  font-weight: 700;
  text-transform: uppercase;
  .fa {
    margin-left: 8px;
  }
  &:hover {
    color: $accent;
    text-decoration: none;
  }
  &:active {
    color: $black-2;
  }
}
.event-gallery .event-gallery__link:focus {
  color: $black-2;
  outline: none;
  text-decoration: none;
}
.event-gallery__slider {
  background-color: #ececec;
}
.event-gallery__slider .item img {
  width: 100%;
}
.event-gallery__donts {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-left: 0;
  padding: 0 2%;
  li {
    width: rem(18px);
    height: rem(18px);
    margin: 0;
    margin-right: rem(2px);
    border: 3px solid $blue-4;
  }
}
.event-gallery__donts li.active {
  width: rem(18px);
  height: rem(18px);
  margin-right: rem(2px);
  background-color: $blue-4;
}

@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {
  .event-gallery__title {
    text-align: center;
  }

}
@media screen and #{($phone-point-widths-des)} {

}
