.footer {
  position: relative;
  padding-top: rem(90px);
  padding-bottom: rem(60px);
  @extend %clearfix;
}
.footer__logo {
  max-width: rem(270px);
  width: 23%;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 11.11%;
}
.footer__copyright {
  display: block;
  padding-top: rem(22px);
  padding-bottom: rem(22px);
  font-size: rem(14px);
  line-height: rem(30px);
  font-family: $harmoniaSansProCyr;
  font-weight: 400;
  color: $gray-5;
}
.footer__menu {
  max-width: rem(570px);
  width: 53.5%;
  float: left;
  @extend %clearfix;
}
.footer__list,
.footer__pay-list  {
  @extend %ul-reset;
  max-width: rem(170px);
  width: 29%;
  float: left;
  margin-right: 2.55%;
  &:last-child {
    margin-right: 0;
  }
}
.footer__item {
}
.footer__item-link {
  position: relative;
  display: block;
  padding-left: rem(15px);
  font-size: rem(14px);
  line-height: rem(30px);
  font-family: $harmoniaSansProCyr;
  font-weight: 400;
  text-decoration: none;
  color: $gray-5;
  transition: .25s;
  cursor: pointer;
  box-sizing: border-box;
  &:hover, &:active {
    color: $accent;
    &::before {
      background-color: $accent;
    }
  }
  &::before {
    content:"";
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background-color: $gray-5;
  }
}
.footer__pay {
  max-width: rem(170px);
  width: 19%;
  float: right;
}
.footer__pay-title {
  margin-bottom: rem(19px);
  font-size: rem(16px);
  line-height: rem(30px);
  font-family: $harmoniaSansProCyr;
  font-weight: 700;
  color: $accent;
}
.footer__pay-list {
  @extend %ul-reset;
  font-size: 0;
  margin-right: 0;
  width: 100%;
}
.footer__pay-item {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  margin-right: rem(8px);
  margin-bottom: rem(10px);
  &:last-child {
    margin-right: 0;
  }
}
.footer__pay-link {
  display: block;
  width: rem(27px);
  height: rem(20px);
  text-decoration: none;
  border-radius: rem(5px);
  transition: .3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}

@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {

}
@media screen and #{($phone-point-widths-des)} {
}
