.footer {
  position: relative;
}
.footer__top {
  padding-top: rem(60px);
  padding-bottom: rem(20px);
  background-color: $bg-2;
}
.footer__bottom {
  text-align: left;
  font-size: rem(14px);
  line-height: rem(40px);
  font-family: $harmoniaSansProCyr;
  font-weight: 400;
  color: rgba(202, 202, 202, .5);
  background-color: $bg-2;
}



@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {

}
@media screen and #{($phone-point-widths-des)} {
}
