.header {
  position: relative;
  color: $gray-1;
  background-color: #fff;
}
.header__top {
  @extend %clearfix;
  padding: rem(20px) 0;
  border-bottom: 1px solid $border-1;
}
.header__contacts {
  max-width: rem(400px);
  width: 50%;
  float: left;
  font-size: 0;
}
.header__social {
  max-width: rem(150px);
  width: 50%;
  float: right;
}
.header__mail,
.header__tell {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
  font-size: rem(14px);
  line-height: rem(20px);
  font-family: harmoniaSansProCyr;
  font-weight: 400;
  text-decoration: none;
  color: $gray-1;
  box-sizing: border-box;
  svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10px);
    fill: $accent;
  }
}
.header__tell {
  margin-right: 0;
}
.header__bottom {
  position: relative;
  @extend %clearfix;
  padding: rem(40px) 0;
  border-bottom: 1px solid $border-1;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 12.5%;
  width: rem(120px);
  margin-right: 2.55%;

}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  text-align: left;
}
.header__action {
  @extend %clearfix;
  width: 100%;
  max-width: rem(170px);
  float: right;
  padding: rem(10px) 0;
  text-align: right;
  transition: left .5s;
}

.header__search,
.header__basket,
.header__user {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin-right: rem(20px);
  cursor: pointer;
}
.header__basket {
  margin-right: 0;
}
.header__user-icon,
.header__search-icon,
.header__basket-link {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  &:hover {
    svg {
      fill: $accent;
    }
  }
  &:active {
    svg {
      fill: $accent-active;
    }
  }
}
.header__basket-link:hover ~ .header__basket-number  {
  background-color: $accent;
}
.header__basket-link:active ~ .header__basket-number  {
  background-color: $accent-active;
}

.header__search-field {
  display: none;
  width: 100%;
}
.header__basket-number {
  position: absolute;
  top: rem(-15px);
  left: rem(3px);
  display: block;
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  font-size: rem(10px);
  font-family: harmoniaSansProCyr;
  font-weight: 300;
  text-align: center;
  color: $light-1;
  background-color: $gray-1;
}


@media screen and #{($laptop-point-widths-des)}{

}
@media screen and #{($tablet-point-widths-des)} {
  .header__social {
    max-width: rem(250px);
  }
  .header__mail {
    margin-right: 8%;
  }
  .header__bottom {
    padding: rem(20px) 0;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .header__action {
    position: absolute;
    left: rem(-1000px);
      &--mobile {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 1px;
        display: block;
        max-width: 79.7%;
        width: 100%;
        padding: rem(23px) 0;
        background-color: #f0f0f2;
        border-bottom: 1px solid $accent;
        .header__search,
        .header__user,
        .header__basket {
          display: block;
        }
      }
  }
  .header__search {
    float: left;
    margin-left: 20px;
  }
  .header__user {
    float: right;
  }
  .header__basket {
    float: right;
    margin-right: 1.25rem;
  }
  .header__basket-number {
    left: 0.45rem;
  }
}
@media screen and (max-width: 480px) {
  .header__mail {
    margin-bottom: rem(20px);
  }
}
