extends ../_template

block variables
  - var title = 'Product'

block content

    .wrapper
        //HEADER
        include ../common/_header
        //END HEADER
        |
        |
        //MAIN CONTENT
        main.content
          include ../common/_product-view
          |
          |
          include ../common/_related
          |
          |
          include ../common/_news
        //END CONTENT
        |
        |
        //FOOTER
        include ../common/_footer
        //END FOOTER
