section.arrivals
  .container
    .section-title
      h2.section-title__name
        span New
        | Arrivals
      .section-title__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, tempora!

    ul.arrivals__list
      li.arrivals__item
        .product
          .product-item__img
            picture
              img(src="img/content/r-item1@1x.png", srcset="img/content/r-item1@2x.png 2x",
                title="Product1", alt="Product1")
          h3.product-item__title Reebok Track Jacket
          a(href="#").product-item__buy 100$
      li.arrivals__item
        .product
          .product-item__img
            picture
              img(src="img/content/r-item2@1x.png", srcset="img/content/r-item2@2x.png 2x",
                title="Product2", alt="Product2")
          h3.product-item__title Reebok Track Jacket
          a(href="#").product-item__buy 200$
      li.arrivals__item
        .product
          .product-item__img
            picture
              img(src="img/content/r-item3@1x.png", srcset="img/content/r-item3@2x.png 2x",
                title="Product3", alt="Product3")
          h3.product-item__title Reebok Track Jacket
          a(href="#").product-item__buy 150$
      li.arrivals__item
        .product
          .product-item__img
            picture
              img(src="img/content/r-item1@1x.png", srcset="img/content/r-item1@2x.png 2x",
                title="Product1", alt="Product1")
          h3.product-item__title Reebok Track Jacket
          a(href="#").product-item__buy 250$
