section.banners
  .container
    .banners__left
      .banners__left-img
        picture
          img(src="img/content/banner1@1x.png", srcset="img/content/banner1@2x.png 2x"
            width="80" height="80" alt="Banner" title="Banner")
      .banners__left-block
        span.banners__left-title Sale Title
        span.banners__left-desc Half Jacket + Skiny Trousers + Boot leather
      .banners__left-price
        a(href="javascript:void(0);")
          svg(width="30", height="30")
            use(xlink:href="img/svg-sprite.svg#icon-basket")
          |120
          sub $
    .banners__right
        span.banners__right-text adv
        span.banners__right-text.banners__right-text--orange area
        span.banners__right-size 470x100
