aside.filters
    .filter-item
      h3.filter-item__title Categories
      .fliter-line
        input(type="radio" name="filter-cat" id="filter-cat-one")
        label(for="filter-cat-one") Man
      .fliter-line
        input(type="radio" name="filter-cat" id="filter-cat-two")
        label(for="filter-cat-two") Woman
      .fliter-line
        input(type="radio" name="filter-cat" id="filter-cat-three")
        label(for="filter-cat-three") Childrens
      .fliter-line
        input(type="radio" name="filter-cat" id="filter-cat-four")
        label(for="filter-cat-four") Hot Deals


      //-
      //- ul.filter-item__list
      //-   - var items = ["Man", "Women", "Childrens", "Hot Deals"]
      //-   each filter in items
      //-     li.filter-item__item=filter

    .filter-item
      h3.filter-item__title Price Filtter
