section.slider
    .container
      .slider__dots
        a(href="#", data-slide-index="0")
        a(href="#", data-slide-index="1")
        a(href="#", data-slide-index="2")
    ul.slider__list
      li.slider__item
        img(src="img/bg/bg1@1x.png", srcset="img/bg/bg1@2x.png 2x")
        .slider__info
            h1.slider__title Full Winter Kit
            .slider__desc Half Jacket + Skiny Trousers + Boot leather
            .slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry t of the printing and typesetting industry
            .slider__action
              span.slider__price Price: $120
              span.slider__buy
                svg(width="26", height="20")
                  use(xlink:href="img/svg-sprite.svg#icon-basket")
                |Order Now

      li.slider__item
        img(src="img/bg/bg1@1x.png", srcset="img/bg/bg1@2x.png 2x")
        .slider__info
          h1.slider__title Full Summer Kit
          .slider__desc Half Jacket + Skiny Trousers
          .slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
          .slider__action
            span.slider__price Price: $150
            span.slider__buy
              svg(width="26", height="20")
                use(xlink:href="img/svg-sprite.svg#icon-basket")
              |Order Now
      li.slider__item
        img(src="img/bg/bg1@1x.png", srcset="img/bg/bg1@2x.png 2x")
